@import "tailwindcss";

@theme inline {
  --font-heading: var(--font-body);
  --font-body: var(--font-body);
  --font-mono: var(--font-mono);
}

::selection {
  background: rgba(255, 255, 0, 0.8);
  color: black;
}

* {
  scroll-behavior: smooth;
}

.shiny {
  mask-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.8) 30%,
    #fff 50%,
    rgba(255, 255, 255, 0.8) 70%
  );
  mask-size: 200%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .shiny {
    animation: none;
  }
}

@custom-variant dark (&:where(.dark, .dark *));
